/*============================================
 * Modules
 * Project:
 *
 *--Table of Contents--
 *  #Readme
 *--#Site Elements
 *--#Posts
 *--#Gallery
 *
 * ==========================================*/

/*============================================
 #Readme
 *
 * This file hold the sections of the site that deal with the business logic. Sidebars, headers, navigation, etc.
 * Modules are made up of components which are built using the framework.
 * ==========================================*/

/*============================================
  #Site Elements
  * ========================================*/

body
  overflow-x: hidden
  padding-bottom: 80px

  &#tinymce
    padding: 20px

.container  
  padding: 0 $base*2

  @include breakpoint($breakpoint--medium)
    padding: 0 $base*3

.site-nav--title,
.site-header--title
  @extend %nav-font
  display: inline-block
  padding: $base*2 0

  @include breakpoint($breakpoint--medium)
    font-size: $base--font-size+1
    padding: $base*3 0

.site-header--link
  @extend %nav-font


/*============================================
  #Main Nav
  * ========================================*/




%nav-font
  border-bottom: none
  color: #fff
  line-height: $base--font-size - 1
  letter-spacing: 3px
  text-transform: uppercase
  &:hover,
  &:focus
    color: darken(#fff, 20%)
    border: none
    

.site-nav
  @extend %nav-font
  background: transparentize($grey100, .1)
  box-shadow: inset -1px 0 4px rgba(0,0,0,.5)
  left: 0
  height: 100%
  top: 0
  overflow: auto
  position: fixed
  padding-left: 15%
  padding-top: 8px
  width: 100%
  z-index: 1

  
  @include breakpoint($breakpoint--medium)
    background: none
    box-shadow: none
    height: auto
    // padding: 16px 8px 0 0
    overflow: hidden
    position: absolute
    right: 0
    top: 0
    z-index: 3

    .admin-bar & 
      padding-top: 44px

.site-nav--title
  display: none
  left: 0
  padding: $base*2
  position: absolute
  top: 0
  
  .admin-bar & 
    top: 28px

  @include breakpoint($breakpoint--medium)
    display: block
  

.site-nav--list
  list-style: none

  @include breakpoint($breakpoint--medium)
    float: right
    width: auto

  ul
    @include breakpoint($breakpoint--medium)
      float: right
      width: auto

  li
    list-style: none
    margin: 0
    padding: 0
  a
    @extend %nav-font
    color: rgba(255,255,255,.75)
    display: block
    padding: $base $base*2

    &:hover,
    &:focus
      color: #fff

  .menu-item,
  .page_item
    padding-right: 40px
    position: relative

    @include breakpoint($breakpoint--medium)
      float: left
      padding-right: 0
  
  .current-menu-item a
    color: #fff

  .menu-item-toggle
    @include transition(color .25s)
    content: "+"
    cursor: pointer
    display: block
    font-size: 24px
    line-height: 32px
    height: 100%
    position: absolute
    right: 0
    text-align: center
    top: 0
    width: 40px

    &:hover,
    &:focus
      color: #fff
    &:active
      top: 1px

    @include breakpoint($breakpoint--medium)
      display: none

  
.sub-menu
  display: none
  padding-left: 16px

.menu-item__active > .sub-menu
  display: block

@include breakpoint($breakpoint--medium)
  .site-nav--list
    .menu-item-has-children a
      display: inline-block
      position: relative
      padding-right: 25px
      &:after
        @include transform(rotate(45deg))
        @include transition(border .25s)
        border: solid 2px rgba(255,255,255,.75)
        border-top: none
        border-left: none
        content: ""
        display: block
        height: 6px
        margin-top: -4px
        position: absolute
        right: 7px
        top: 50%
        width: 6px
    .menu-item-has-children a:hover
      &:after
        border-color: #fff
    .menu-item
      .sub-menu
        display: block
        position: absolute

/*============================================
  #Site Header
  * ========================================*/


.site-header

  background: $blue
  float: left
  position: relative
  width: 100%
  z-index: 2
  
  img
    float: left
    height: auto
    width: 100%

.site-header--title
  padding: $base*2
  position: relative
  width: 100%

  @include breakpoint($breakpoint--medium)
    opacity: 0

.site-header--background
  @include transition(height .25s)
  background-size: cover
  background-position: center center
  height: 500px
  
  @media (min-height: 300px)
    height: 150px
  @media (min-height: 400px)
    height: 250px
  @media (min-height: 500px)
    height: 350px
  @media (min-height: 600px)
    height: 450px
  @media (min-height: 700px)
    height: 550px
  @media (min-height: 800px)
    height: 650px
  @media (min-height: 900px)
    height: 750px
  @media (min-height: 1000px)
    height: 850px


.site-nav--toggle
  @include transition(opacity .25s)
  background: url(assets/images/icon-hamburger.png) center center no-repeat
  background-size: 24px auto
  cursor: pointer
  display: block
  full: #fff
  height: 100%
  opacity: 1
  overflow: hidden
  position: absolute
  right: $base
  text-indent: -9999px
  top: 0
  width: 40px
  
  &:hover,
  &:focus
    opacity: .6

  &:active
    opacity: .4
    top: 1px


  @include breakpoint($breakpoint--medium)
    display: none

.site-content
  @extend .cf
  background: $grey5
  float: left
  position: relative
  width: 100%
  z-index: 2

.site-header,
.site-content
  @include transform-transition

.site-nav__active
  height: 100%
  overflow: hidden
  .site-header,
  .site-content
    @include transform(translateX(-85%))

/*============================================
  #Posts
  * ========================================*/

article.post,
article.page,
article.attachment
  @extend .cf
  // border-bottom: solid 1px $grey15
  // box-shadow: 0 1px 0 #fff
  float: none
  // max-width: 740px
  // margin-left: auto
  // margin-right: auto
  padding: $base*2
  width: 100%

  @include breakpoint($breakpoint--small)
    padding: $base*3

  @include breakpoint($breakpoint--medium)
    padding: $base*5 0 $base*5 0

  @include breakpoint($breakpoint--large)
    padding: $base*7 0 $base*7 0

  .post--content
    @extend .cf

    div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,table,address,pre,code,iframe
      max-width: 740px
      margin-left: auto
      margin-right: auto

      *
        max-width: 100%

    blockquote
      max-width: 900px
      margin-left: auto
      margin-right: auto

      p
        display: block    
        max-width: 100%
  div.gallery
    max-width: 100%
    .gallery--large--item
      @include transition(max-height .25s, opacity .25s)
      max-height: 300px

      @media (min-height: 400px)
        max-height: 350px
      @media (min-height: 500px)
        max-height: 450px
      @media (min-height: 600px)
        max-height: 550px
      @media (min-height: 700px)
        max-height: 650px
      @media (min-height: 800px)
        max-height: 750px
      @media (min-height: 900px)
        max-height: 850px
      @media (min-height: 1000px)
        max-height: 950px
  
  div.gallery--nav
    overflow: hidden
    margin-left: auto
    margin-right: auto
    max-width: 740px

  div.wp-caption
    background: #fff
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.15)
    display: block
    // padding-left: $base*5
    // padding-right: $base*5
    overflow: hidden
    margin-bottom: $base--line-height
    margin-left: auto
    margin-right: auto
    max-width: 100%
    // text-align: center

    img
      float: left
      width: 100%

  .wp-caption-text
    display: block
    font-family: $serif
    float: left
    padding: $base*2
    width: 100%

    br
      line-height: $base--line-height*2


.post.sticky
  background: #fff
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  margin: $base*2 auto 0 auto
  max-width: 800px

  @include breakpoint($breakpoint--small)
    margin-top: $base*3
    margin-bottom: $base*3

  @include breakpoint($breakpoint--medium)
    margin-top: $base*5
    margin-bottom: $base*5

  @include breakpoint($breakpoint--large)
    margin-top: $base*7
    margin-bottom: $base*7


.post--header
  margin-bottom: $base*2
  margin-left: auto
  margin-right: auto
  max-width: 750px

  @include breakpoint($breakpoint--medium)
    margin-bottom: $base*3
  
  @include breakpoint($breakpoint--large)
    margin-bottom: $base*4

.post--title
  margin-bottom: $base*2
  text-align: center
  a
    border-bottom: none

    &:hover,
    &:focus
      color: $grey60
      border-bottom: none

.post--meta
  color: $grey60
  display: block
  font-style: italic
  font-size: $base--font-size + 1
  font-family: $serif
  line-height: 20px
  margin: 0
  padding: 0
  text-align: center

.post--meta--item
  display: inline-block
  list-style: none
  margin: 0
  padding: 0

  &:before
    content: "•"
    display: inline-block
    margin: 0 $base + 2   0 $base  
    position: relative

  &:first-child:before
    display: none

.post--meta--link
  border-bottom: solid 1px $transparent
  color: $grey60
  
  &:hover,
  &:focus
    border-bottom: solid 1px
    color: $grey100
  


.post--tags,
.post--comments  
  border-top: dashed 1px $grey20
  box-shadow:  inset 0 1px 0 rgba(255,255,255,.5)
  color: $grey60
  font-style: italic
  font-family: $serif
  line-height: 20px
  margin-left: auto
  margin-right: auto
  margin-top: $base*2
  max-width: 740px
  position: relative
  padding: $base*2 0 0 $base*4

 

  &:before
    background: url(assets/images/icon-tag.png) center center no-repeat
    background-size: contain
    content: ""
    display: block
    float: left
    height: 18px
    left: 0
    opacity: .5
    position: absolute
    top: 1px + $base*2
    width: 18px
      

  a
    border-bottom: solid 1px $transparent
    color: $grey60
    display: inline-block
    margin-right: $base/2

    &:hover,
    &:focus
      border-bottom: solid 1px
      color: $grey100

    &:after
      content: ","
      margin-left: 1px

    &:last-child:after,
    &.post--comments--count:after
      display: none



.post--comments
  &:before
    background-image: url(assets/images/icon-comment.png)

.commentlist
  margin-bottom: $base--line-height

.comment--form,
.comment--list
  border-top: dashed 1px $grey20
  box-shadow:  inset 0 1px 0 rgba(255,255,255,.5)
  display: none
  margin: $base*2 auto 0 auto
  padding-top: $base*2
  max-width: 740px
  
  &.in
    display: block

.comment--form
  label
    display: block
    margin-bottom: $base
  .comment-form-url
    display: none
  br
    display: none
  

.comment--list
  list-style: none
  #respond
    display: none

.comment
  background: #fff
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  list-style: none
  margin: 0 0 $base 0 
  position: relative
  padding: $base*2 $base*2  $base*2  $base*8

.comment .avatar
  bottom: auto
  height: auto
  left: $base*2
  max-width: $base*4
  position: absolute
  top: $base*2
  width: auto

.comment-metadata
  font-family: $serif
  font-style: italic
  position: absolute
  right: $base*2
  top: $base*2
  
  a
    color: $grey50
    border-bottom: solid 1px $transparent

    &:hover,
    &:focus
      border-bottom: solid 1px
      color: $grey100
.comment-content
  display: block
  padding: $base*2 0
// #respond
//   display: none
//   &.in
//     display: block


/*=====================================left: ====
  #Gallery
  * ========================================*/
.post--content
  .gallery
    overflow: hidden

    br
      display: none

  .gallery-item 
    cursor: pointer
    float: left
    margin: 0
    padding: 0
    overflow: hidden
    position: relative
    width: 10%      
    
    &:after
      @include transition(background .25s)  
      background: rgba(255,255,255,0)
      content: ""
      display: block
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 1

    &:hover:after,
    &:focus:after,
    &.active:after
      background: rgba(255,255,255,.4)

    &:active:after
      background: rgba(255,255,255,.2)



    a
      border: none
      float: left
      overflow: hidden

      &:hover,
      &:focus
        border: none

      &:active
        top: 0
      
    img
      float: left
      

    .wp-caption-text
      display: none


  .gallery--large
    position: relative
    text-align: center
    
    .img
      display: inline-block
      overflow: hidden
      position: relative

      figcaption
        @include transition(opacity .25s)
        background: rgba(0,0,0,.8)
        color:  $grey10
        bottom: 6px
        display: none
        float: left
        font-family: $serif
        font-size: 14px
        font-style: italic
        line-height: 18px
        left: 0
        height: auto
        max-height: 30%
        overflow: auto
        opacity: 1
        position: absolute
        padding: $base*2
        text-align: left
        width: 100%
      
      figcaption.in
        display: block
      

    img
      display: inline-block
      cursor: pointer
      float: none
      height: auto
      opacity: 1
      width: auto

  .gallery--large.loading
    img,figcaption
      opacity: 0


